@charset "utf-8";
/* CSS Document */

@font-face { font-family: 'Century Gothic'; 
	src: url('../font/century_gothic.eot'); 
	src: url('../font/century_gothic.eot?#iefix') format('embedded-opentype'), 
	     url('../font/century_gothic.svg#Century Gothic') format('svg'), 
		 url('../font/century_gothic.woff') format('woff'), 
		 url('../font/century_gothic.ttf') format('truetype');
 	font-weight: normal;
    font-style: normal;
  }

body{
	margin:0;
}

#contenitore{
	width:100%;
	font-family: 'Century Gothic';
}

.sezione{
	width:100%;
}

.sottosezione{
	width:960px;
	height:650px;
	margin:auto;
	position:relative;
}

#logo{
	float:left;
	padding-left:15px;
	padding-top:20px;
	}

#navigazione{
	float:left;
	font-size:14px;
	font-weight:bold;
	letter-spacing:0px;
	padding-top:50px;
	
}

#navigazione ul{
	float: left;
	list-style: none;
	margin: 0;
	
}

#navigazione li{
	font-family:"Century Gothic";
	font-weight:lighter;
	text-decoration:none;
	float:left;
	padding-right:30px;
}

#navigazione a{
	text-decoration:none;
	color:#fff;
}



.effect {
	position:relative;
	display:inline-block;
	text-decoration:none;
	padding:5px;
	}

.effect1 {
	color:#0F659C;
	-ms-transition: width linear 0.2s;
	-webkit-transition: width linear 0.2s; 
	-moz-transition: width linear 0.2s;
	transition: width linear 0.2s;
	}

.effect1:before {
	position:absolute;
	bottom:-3px;
	content:" ";
	display:block;
	width:0;
	height:2px;
	background:#FFF;
	-ms-transition: width linear 0.2s;
	-webkit-transition: width linear 0.2s; 
	-moz-transition: width linear 0.2s;
	transition: width linear 0.2s;
	}
.effect1:hover:before{
	width:100%;
	}

#testo{
	padding-top:300px;
	font-family:"Century Gothic";
}

#testo h1{
	font-size:35px;
	color:#bbe1ec;
	text-align:center;
	margin:0;
	font-weight:100;
	letter-spacing:-1.5px;
}

#pulsante{
	
	margin-top:75px;
	margin-left:385px;
}

#pulsante a{
		text-decoration:none;
		color:#bbe1ec;
		font-size:18px;
		letter-spacing:-1.5px;
		padding-top:15px;
		padding-bottom:15px;
		padding-left:5px;
		padding-right:5px;
		border: solid 2px #bbe1ec;;
}

#o{
	color:#bbe1ec;
	font-weight:bold;
	font-size:18px;
	width:18px;
	margin:auto;
	margin-top:40px;
}

.uno{
	
	background:url(../materiale/index1.png) no-repeat center center;
}
	

.due{
	background:url(../materiale/index2.png) no-repeat center center;
}

.col{
	width:320px;
	float:left;
}

#centro{
	color:#bbe1ec;
	padding-top:50px;
	text-align:center;
	margin-bottom:80px;
	letter-spacing:-1px;
}

.col img{
	padding-left:85px;
}

.col h2{
	text-align:center;
	font-size:35px;
	color:#685035;
	margin-bottom:25px;
	margin-top:25px;
	font-weight:100;
	letter-spacing:-1.5px;
}

.col p{
	margin-left:35px;
	margin-right:35px;
	text-align:center;
	color:#685035;
	font-size:18px;
	letter-spacing:-1.5px;
}

#terzo{
	padding-top:80px;
	margin-bottom:0;
	color:#bbe1ec;
	font-size:35px;
	font-weight:100;
	letter-spacing:-1.5px;
}

#quarto{
	margin-top:0;
	color:#bbe1ec;
	font-size:35px;
	font-weight:100;
	letter-spacing:-1.5px;
}

#quinto{
	width:420px;
	color:#bbe1ec;
	font-size:24px;
	font-weight:100;
	letter-spacing:-1.5px;
}

#sesto{
	color:#bbe1ec;
	font-size:24px;
	font-weight:100;
	letter-spacing:-1.5px;
}
	

#footer{
	background:#2d2d2d;
	height:160px;
}

#cont-footer{
	width:960px;
	
	margin:auto;
}

#footer .foo{
	font-family:"Century Gothic", "Century Gothic Italic";
	color:#fff;
	font-size:14px;
	letter-spacing:0px;
	float:left;
	display:inline;
	margin-right:30px;
	margin-top:35px;
	margin-bottom:5px;
	font-weight:lighter;
	
}

#footer .capo{
	clear:left;
	
}

#footer ul{
	list-style:none;
	margin:0;
}

#footer li{
	float:left;
	margin-top:20px;
}

#footer a{
	display:block;
	/*text-indent:-9999px;*/
	width:50px;
	height:50px;
}

.fb{
	background:url(../materiale/fb-button.png) no-repeat center;
}

.tw{
	background:url(../materiale/twi-button.png);
}

.li{
	background:url(../materiale/in-button.png);
}

.g{
	background:url(../materiale/gplus-button.png);
}

.ig{
	background:url(../materiale/insta-button.png);
}